{% extends "base.html" %}
{% load static %}

{% block content %}
	{% for post in posts %}
							<div class="post col-xl-6 border-dark shadow-sm p-3">
                                <div class="post-thumbnail">
                                    <a href="post.html"><img src="{% static 'img/blog-post-techblog-1.jpeg' %}" alt="..." class="img-fluid"></a>
                                </div>
                                <div class="post-details">
                                    <div class="post-meta d-flex justify-content-between text-muted bg-white">
                                        <div class="date meta-last">
                                            {{ post.publish|date:"d M | Y" }}
                                        </div>
                                        <div class="category">
                                            {% for tag in post.tags.all %}
                                            <a href="#">{{ tag|slice:"1:" }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <a href="{{ post.get_absolute_url }}"> <h3 class="h4">{{ post.title }}</h3></a>
                                    <p class="text-muted">{{ post.body|truncatewords:10 }}</p>
                                    <footer class="post-footer d-flex align-items-center">
                                        <a href="#" class="author d-flex align-items-center flex-wrap"> <div class="avatar">
                                                <img src="img/avatar-3.jpg" alt="..." class="img-fluid">
                                            </div> <div class="title">
                                                <span>{{ post.author }}</span>
                                            </div></a>
                                        <div class="date">
                                            <i class="icon-clock"></i> {{ post.publish|timesince }}
                                        </div>
                                        <div class="comments meta-last">
                                            <i class="icon-comment"></i>12
                                        </div>
                                    </footer>
                                </div>
                            </div>
    {% empty %}
    	No Post Yet
    {% endfor %}
{% endblock %}
{% block pagination %}
{% include "blog/pagination.html" with page=page_obj %}
{% endblock %}